<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Materials Management</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nobile&family=Mohave:wght@400&family=Amasis+MT+Pro+Medium&display=swap">
    <link rel="stylesheet" type="text/css" href="/public/css/accountManage.css" >
    <link rel="icon" href="../public/image/LOGO_LMM.svg" type="image/x-icon">

</head>
<body>
    <header>
        
        <a class="logo"  href="/home">
            
                <img src="../public/image/baner.svg" alt="Logo" href="/home">
               
        </a>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/courses">Courses</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
        <nav class="usermenu">
            <ul>
                <span class="logout">You are logged in! (  <a href="/logout">Log out</a>)</span>
                
            </ul>
        </nav>
    </header>
    
   <main class="nav-drawer">
    <div class="panel" id="panel">
        <h2>Dashboard</h2>
        <ul>
            <li class="accMana" id="add-btn"> <a href="/account-management">Account Management</a></li>
            
        </ul>
    </div>
    <div class="contentForm" id="form">
  <form method="POST" action="/account-management/add-newUser/create-user">
    <div class="container">
      <h1>Add New A User</h1>
      <div class="col-md-8"> 
        <form action="/edit-profile" method="post" enctype="multipart/form-data"> 
          <div class="form-group"> 
            <input type="text" name="account_firstname" id="account_firstname" placeholder="Firstname" required> 
          </div>
          <div class="form-group"> 
            <input type="text" name="account_lastname" id="account_lastname" placeholder="Lastname" required> 
          </div>
          <div class="form-group"> 
            <input type="text" name="account_username" id="account_username" placeholder="Username" required> 
          </div>
          <div class="form-group"> 
            <input type="email" name="account_email" id="account_email" placeholder="Email" required> 
          </div>
          <div class="form-group"> 
            <input type="password" name="account_password" id="account_password" placeholder="New Password" required> 
          </div>
          <div class="form-group"> 
            <input name="account_phonenumber" id="account_phonenumber" placeholder="Phonenumber" required> 
          </div>
          <div class="form-group"> 
            <input name="account_address" id="account_address" placeholder="Address" required></input> 
          </div>
<div class="form-group ">
                    <label for="account_gender">Gender:  </label>
                    <select name="account_gender" id="account_gender" >
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                    </select>
                    <!-- <label for="actor">Actor:  </label>
                  <select name="actor" id="actor">
                      <option value="Admin">Admin</option>
                      <option value="CRDD">CRDD</option>
                      <option value="AD">AD</option>
                      <option value="Teacher">Teacher</option>
                      <option value="Student">Student</option>
                  </select> -->
                </div>
                

          <div class="form-group"> 
            <a href="/account-management" id="back">Back</a>
          <button class="add-user-btn" type="submit" name="submit" id="submit" >Add User</button>
             
          </div>
        </form>
      </div>
    </div>
  </form> 
          </div>
          
        
    </div>
   </main>
    
</body>
</html>
