<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Materials Management</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nobile&family=Mohave:wght@400&family=Amasis+MT+Pro+Medium&display=swap">
    <link rel="stylesheet" type="text/css" href="/public/css/managementMaterial.css" >
    <link rel="icon" href="../public/image/LOGO_LMM.svg" type="image/x-icon">

</head>
<body>
    <header>
        
        <a class="logo"  href="/about">
            
                <img src="../public/image/baner.svg" alt="Logo" href="/about">
               
        </a>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/courses">Courses</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
        <nav class="usermenu">
            <ul>
                <span class="logout">You are logged in! (  <a href="/logout">Log out</a>)</span>
                
            </ul>
        </nav>
    </header>
    
   <main class="nav-drawer">
    <div class="panel" id="panel">
        <h2>Material Management</h2>
        <ul>
            <li id="add-btn"> <a href="/management/add-material">Add Material</a></li>
            <li  id="view-btn">Search Material</li>
        </ul>
    </div>
    <div class="contentForm" id="form">
        
    </div>
   </main>
    
</body>
</html>
