<head>
    <link rel="stylesheet" type="text/css" href="/public/css/sidebar.css">
</head>
<div class="sidebar" id="sidebar sidebar-wrapper">
    <ul class="list-group">
        <li class="list-group-item"><a href="/home"><i class="icon fa fa-home fa-fw "></i> Home</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li class="list-group-item"><a href="/dashboard"><i class="icon fas fa-tachometer-alt"></i> Dashboard</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li class="list-group-item"><a href="/private-file"><i class="icon fas fa-file"></i> Private File</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li class="list-group-item m-l-0">
            <a href="/my-courses"><i class="icon fa fa-graduation-cap fa-fw "></i> My Courses</a>
        </li>
        <ul>
            <% subjectList.forEach(function(item, index){ %>
                <li><a class="media" href="/my-courses/"><%= item.subject_code %></a></li>
            <% }) %>
        </ul>
        
    </ul>
</div>