<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Materials Management</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nobile&family=Mohave:wght@400&family=Amasis+MT+Pro+Medium&display=swap">
    <link rel="stylesheet" type="text/css" href="/public/css/homePage.css" >
    <link rel="icon" href="../public/image/LOGO_LMM.svg" type="image/x-icon">

</head>

<body>
    <header>
        <a class="logo"  href="/home">
            
                <img src="../public/image/baner.svg" alt="Logo" href="/home">
               
        </a>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/courses">Courses</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
        <nav class="usermenu">
            <ul>
                <span class="login">You are not logged in. (  <a href="/login">Log in</a>)</span>
                
            </ul>
        </nav>
    </header>
    <main>
        <div class="row">
            <h2 class="pb4 pl-3 mb-3">Welcome to LMM </h2>
            <p>Learning Materials Management System</p>
            <a href="/courses" class="btn">LEARN MORE</a>
        </div>
        <!-- Other sections or content can be added here -->
    </main>

    <footer>
        <p>&copy; 2024 LMM System. All rights reserved.</p>
    </footer>
<script>
    const mobileNav = document.querySelector(".hamburger");
    const navbar = document.querySelector(".menubar");

    const toggleNav = () => {
      navbar.classList.toggle("active");
      mobileNav.classList.toggle("hamburger-active");
    };

    mobileNav.addEventListener("click", () => toggleNav());

  </script>
</body>

</html>
