<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Nobile&family=Mohave:wght@400&family=Amasis+MT+Pro+Medium&display=swap">
    <link rel="stylesheet" type="text/css" href="/public/css/navbar.css">
</head>
<nav class="navbar">
    <div class="container mx-auto px-4 flex justify-between items-center">
        <%- include('./navbarBrand.ejs') %>
        <%- include('./navbarCollapse.ejs') %>

    </div>
</nav>
