:root {
    --blue: #0072bc;
    --white: #ffffff;
    --black: #000000;
    --gray: #f0f0f0;
}

header {
  background: linear-gradient(to bottom, #5dade2, #ceecf5);
  color: #1b4f72;
  padding: 20px;
  display: flex;
  align-items: center;
}
header .logo img {
  padding-bottom: 18px;
  margin-right: 1rem;
  width: 175px;
  height: auto;
  cursor: pointer;
}
header h1 {
  font-family: 'Nobile' ;
  margin: 0; 
  font-size: 1.75em;
}
nav {
  font-family: 'Mohave' ;
  text-transform: uppercase;

  padding-left: 30px;
  font-size:x-large;
}
body {
    font-family: "Amasis MT Pro Medium", sans-serif;
    height: calc(100vh - 4.5em);
    margin: 0;
    background: linear-gradient(to bottom, #ceecf5 0%, #ceecf5 20%, #2e86c1 100%);
    color: #1b4f72;
    background-size: cover;
}

.navbar {
    background: linear-gradient(to bottom, #5dade2, #ceecf5);
    color: #1b4f72;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar button {
    margin-left: 20px;
    width: 40px;
    height: 40px;
    border: none;
    background-color: var(--white);
    cursor: pointer;
}

.navbar h1 {
    margin-right: 20px;
    font-size: 32px;
    color: var(--white);
}

.nav-drawer {
    top: 5rem;
    padding: 1rem;
    
}
.usermenu {
    text-transform:none;
    padding: .5rem;
    padding-left: 45%;
    font-weight: lighter;
    font-size: large;

}

.usermenu .logout a {
    color: #ff0000;
    text-decoration: none;
}
.logout a:hover{
    color: #fd647a;
    font-weight:900;
    text-decoration:underline;
}
.panel {
    width: 300px;
    height: 100%;
    background-color: var(--white);
    position: fixed;
    left: -300px;
    transition: 0.5s;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1);
}

.panel {
    left: 0;
}

.panel h2 {
    margin: 20px;
    font-size: 24px;
    color: var(--blue);
}

.panel ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.panel li {
    padding: 20px;
    border-bottom: 1px solid var(--gray);
    cursor: pointer;
    font-size: 18px;
    color: var(--black);
}

.panel li:hover {
    background-color: var(--gray);
}

.contentForm {
    display: none;
    width: 80%;
    margin: 0 0 0 18em;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--white);
    padding: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.contentForm.active {
    display: block;
}
header {
    background: linear-gradient(to bottom, #5dade2, #ceecf5);
    color: #1b4f72;
    padding: 20px;
    display: flex;
    align-items: center;
}
header .logo img {
    padding-bottom: 18px;
    margin-right: 1rem;
    width: 175px;
    height: auto;
    cursor: pointer;
}
header h1 {
    font-family: 'Nobile' ;
    margin: 0; 
    font-size: 1.75em;
}
nav {
    font-family: 'Mohave' ;
    text-transform: uppercase;

    padding-left: 30px;
    font-size:x-large;
}
.usermenu {
    text-transform:none;
    padding: .5rem;
    padding-left: 45%;
    font-weight: lighter;
    font-size: large;

}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    display: inline;
    margin-right: 25px;
}
nav ul li a {
    color: #1b4f72;
    text-decoration: none;
    transition: color 0.3s;
}
nav ul li a:hover {
    font-weight:900;
    text-decoration: underline;
}

.panel ul li a {
    color: #1b4f72;
    text-decoration: none;
    transition: color 0.3s;
}
.panel ul li a:hover {
    font-weight:900;
    text-decoration: underline;
}
.accMana{
    background-color: var(--gray)
}

:root {
    --primary-color: #0f4c75;
    --secondary-color: #3282b8;
    --accent-color: #bbe1fa;
    --white-color: #ffffff;
    --black-color: #000000;
  }
  
  /* Căn chỉnh nội dung */
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
  }
  
  /* Tiêu đề */
  h1 {
    color: var(--primary-color);
    font-size: 36px;
    margin-top: 0;
  }
  
  /* Khung lọc và tìm kiếm */
  .filter-search {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  /* Hộp chọn lọc */
  select {
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: var(--white-color);
    border: 1px solid var(--primary-color);;
    color: var(--primary-color);
    font-size: 16px;
    padding: 10px;
    margin-right: 20px;
  }
  
  /* Ô nhập tìm kiếm */
  input {
    width: 400px;
    height: 22px;
    background-color: var(--white-color);
    border: 1px solid var(--primary-color);;
    border-radius: 5px;
    color: var(--primary-color);
    font-size: 18px;
    padding: 10px;
    margin-right: 20px;
  }
  .form-group{
    display: flex;
      align-items: center;
      margin-bottom: 15px;
  }
  /* Nút tìm kiếm */
  button#search-btn {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: var(--secondary-color);
    color: var(--white-color);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  /* Khung thêm người dùng */
  .add-user {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }
  
  button#add-user-btn, .add-user-btn {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  /* Bảng thông tin */
  .info-board {
    overflow-x: auto;
  }
  
  /* Bảng */
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  /* Tiêu đề bảng */
  th {
    border: 1px solid var(--white-color);
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 18px;
    font-weight: 600;
    padding: 13px;
    text-align: center;
  }
  
  /* Dòng bảng */
  tr {
    border: 1px solid var(--primary-color);
   text-align: center;
  }
  .row-hover:hover {
    background-color: #d2e5ef; /* Màu xanh nhạt */
}

  /* Ô bảng */
  td {
    border: 1px solid var(--primary-color);
    font-size: 16px;
    color: var(--black-color);
    padding: 10px;
    
  }
  .mainInf{
    text-align: left;
  }
  
  button.edit-btn {
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: var(--secondary-color);
    color: var(--white-color);
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
  }
  
  button.delete-btn {
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: var(--black-color);
    color: var(--white-color);
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
  }
  #back {
    display: block;
    width: 100px;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #1b4f72;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: #1b4f72;
  }
  
#back:hover {
    font-weight: 900;
    font-style: italic;
  }
  