
:root {
    --blue: #0072bc;
    --white: #ffffff;
    --black: #000000;
    --gray: #f0f0f0;
}


body {
    font-family: "Amasis MT Pro Medium", sans-serif;
    height: calc(100vh - 4.5em);
    margin: 0;
    background: linear-gradient(to bottom, #ceecf5 0%, #ceecf5 20%, #2e86c1 100%);
    color: #1b4f72;
    background-size: cover;
}

.navbar {
    background: linear-gradient(to bottom, #5dade2, #ceecf5);
    color: #1b4f72;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar button {
    margin-left: 20px;
    width: 40px;
    height: 40px;
    border: none;
    background-color: var(--white);
    cursor: pointer;
}

.navbar h1 {
    margin-right: 20px;
    font-size: 32px;
    color: var(--white);
}

.nav-drawer {
    top: 5rem;
    padding: 1rem;
    
}
.usermenu {
    text-transform:none;
    padding: .5rem;
    padding-left: 45%;
    font-weight: lighter;
    font-size: large;

}

.usermenu .logout a {
    color: #ff0000;
    text-decoration: none;
}
.logout a:hover{
    color: #fd647a;
    font-weight:900;
    text-decoration:underline;
}
.panel {
    width: 300px;
    height: 100%;
    background-color: var(--white);
    position: fixed;
    left: -300px;
    transition: 0.5s;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1);
}

.panel {
    left: 0;
}

.panel h2 {
    margin: 20px;
    font-size: 24px;
    color: var(--blue);
}

.panel ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.panel li {
    padding: 20px;
    border-bottom: 1px solid var(--gray);
    cursor: pointer;
    font-size: 18px;
    color: var(--black);
}

.panel li:hover {
    background-color: var(--gray);
}
.add-btn, .view-btn, .search-btn{
    background-color: var(--gray);
}
.contentForm {
    display: none;
    width: 80%;
    margin: 0 0 0 18em;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--white);
    padding: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.contentForm.active {
    display: block;
}

.inform{
    display: flex;
    align-items: center;
    flex: 1; /* Chia đều chiều rộng cho cả 2 cột */
    margin-right: 10px; 
}
@media (min-width: 768px) { 
    .inform {
        flex: 0 0 48%;  /*Chia mỗi cột thành 48% chiều rộng*/
    }
}
.desText{
    margin: 10px 20px 10px 0;
}

.contentForm label {
    width: 25%;
    font-size: 18px;
    color: var(--black);
    margin: 10px 0;
}

.contentForm input, .contentForm select, .contentForm textarea {
    width: 50%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid var(--gray);
    font-size: 16px;
    color: var(--black);
}

.contentForm input[type=checkbox] {
    width: 20px;
    height: 20px;
}

.contentForm button {
    font-weight: bold;
    cursor: pointer;
    width: 15%;
    height: 45px;
    margin: 20px;
    border: none;
    background-color: var(--blue);
    color: var(--white);
    cursor: pointer;
    font-size: 20px;
}
header {
    background: linear-gradient(to bottom, #5dade2, #ceecf5);
    color: #1b4f72;
    padding: 20px;
    display: flex;
    align-items: center;
}
header .logo img {
    padding-bottom: 18px;
    margin-right: 1rem;
    width: 175px;
    height: auto;
    cursor: pointer;
}
header h1 {
    font-family: 'Nobile' ;
    margin: 0; 
    font-size: 1.75em;
}
nav {
    font-family: 'Mohave' ;
    text-transform: uppercase;

    padding-left: 30px;
    font-size:x-large;
}
.usermenu {
    text-transform:none;
    padding: .5rem;
    padding-left: 45%;
    font-weight: lighter;
    font-size: large;

}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    display: inline;
    margin-right: 25px;
}
nav ul li a {
    color: #1b4f72;
    text-decoration: none;
    transition: color 0.3s;
}
nav ul li a:hover {
    font-weight:900;
    text-decoration: underline;
}

.panel ul li a {
    color: #1b4f72;
    text-decoration: none;
    transition: color 0.3s;
}
.panel ul li a:hover {
    font-weight:900;
    text-decoration: underline;
}
.search-material{
    margin: 0 0 0 18em;
}
.search-material input{
  width:85%;
  margin: 0 0 10px 0;
    padding: 10px;
    border: 1px solid var(--gray);
    font-size: 16px;
    color: var(--black);
}
.search-material button{
  font-weight: bold;
    cursor: pointer;
    width: 10%;
    height: 36px;
    margin: 0 15px 0 10px;
    border: none;
    background-color: #2e86c1;
    color: var(--white);
    cursor: pointer;
    font-size: 20px;
}
