.sidebar {
    z-index: 5;
    position: fixed;
    top: 4rem;
    left: 0;
    right: auto;
    width: 220px;
    height: calc(100% - 50px);
    padding: 1rem;
    background-color: #29292a;
    color: #fff;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
    transition: right .5s ease, left .5s ease;
}

.sidebar.active {
    transform: translateX(0);
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
}
.sidebar .list-group{
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border: none;
}
.sidebar .list-group .list-group-item {
    border: none;
    color: #aaa;
    background-color: transparent;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    transition: all .5s ease;
    position: relative;
    display: block;

    margin-left: 0;
}

ul.list-group {
    list-style: none;
}
ul.list-group li {
    display: inline-block;
    padding: 4px 10px;
    background-color: transparent;
    border-radius: 5px;
}
ul.list-group .list-group-item:hover{
background-color: #1377c9;
}
.media:hover{
    background:none;
    color: #1377c9;
}
.sidebar .list-group ul .media {
    margin-top: 0.5rem;
    display: flex;
    align-items: flex-start;
    margin-left: 2rem;
}

.sidebar .list-group .icon{
        font-size: 16px;
        width: 16px;
        height: 16px;
        margin: 0;
        padding: 0;
        box-sizing: content-box;
        margin-right: .5rem;

}
