<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
  <div class="position-sticky pt-3 sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">
          <i class="bi bi-house"></i>
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/account-management">
          <i class="bi bi-person-fill-gear"></i>
          Accounts
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/curriculum-management">
          <i class="bi bi-mortarboard"></i>
          Curriculums
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/subject-management">
          <i class="bi bi-book"></i>
          Subjects
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/material-management">
          <i class="bi bi-file-earmark-text"></i>
          Materials
        </a>
      </li>
    </ul>
  </div>
</nav>